table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #5bbbd3;
}

tr:nth-child(even) {
    background-color: #f06767;
}

tr:nth-child(odd) {
    background-color: #f06767;
}
/* Target the first row in the table */

/* Target all rows except the first one */